@font-face {
  font-family: "Gotham Pro Regular";
  src: url(/fonts/GothamPro.woff2) format("woff2"),
    url(/fonts/GothamPro.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro Bold";
  src: url(/fonts/GothamPro-Bold.woff2) format("woff2"),
    url(/fonts/GothamPro-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro Medium";
  src: url(/fonts/GothamPro-Medium.woff2) format("woff2"),
    url(/fonts/GothamPro-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Light";
  src: url(/fonts/Roboto-Light.woff2) format("woff2"),
    url(/fonts/Roboto-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url(/fonts/Roboto-Bold.woff2) format("woff2"),
    url(/fonts/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Regular";
  src: url(/fonts/Roboto-Regular.woff2) format("woff2"),
    url(/fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --accent-color: #3b1d8f;
  --text-color: #000000;
  --light-text-color: #404040;
  --btn-color: #273895;
  --title-color: #303030;
  --grey-text-color: #7a7a7a;
  --white-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  background-color: #f4f7fa;
}

body {
  font-family: "Gotham Pro Regular";
  background: url(/img/top_bg.svg);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: var(--light-text-color);
}

.list-reset {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: none;
  border-radius: 15px;
  background-color: var(--btn-color);
  color: var(--white-text);
  text-align: center;
  font-family: "Gotham Pro Bold";
  font-size: 1rem;
  line-height: 112.5%;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  background-color: var(--accent-color);

}

.h2 {
  color: var(--title-color);
  text-align: center;
  font-family: "Gotham Pro Bold";
}

header {
  padding: 48px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  max-width: 199px;
}

.header_logo h3 {
  margin-left: 22px;
  max-width: 88px;

  font-family: "Roboto Light";
  font-size: 1rem;
  color: var(--accent-color);
}

.header_text {
  color: var(--title-color);
  font-family: "Gotham Pro Regular";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 166.667%;
  max-width: 227px;
  margin-left: 64px;
}

.contacts {
  color: var(--title-color);
  text-align: right;
  font-family: "Gotham Pro Bold";
  font-size: 1rem;
  line-height: 112.5%;
  margin-right: 36px;
}

.input {
  padding: 16px 32px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 642px;
  margin-top: 48px;
}

.menu li a {
  color: var(--text-color);
  font-family: "Gotham Pro Medium";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.48px;
  transition: color 0.3s ease-in-out;
}

.menu li a:hover {
  color: var(--btn-color);
}

.start-section {
  margin: 0 80px;
  background: url(/img/start_bg.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.start-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  color: #262626;
  font-family: "Gotham Pro Bold";
  font-size: 3rem;
  line-height: 114.583%;
  max-width: 733px;
  margin: 0;
}

.start_text {
  max-width: 547px;
  color: var(--title-color);
  font-family: "Gotham Pro Regular";
  font-size: 0.875rem;
  line-height: 150%;
  margin-top: 16px;
}

.start_btn {
  padding: 16px 32px;
  max-width: 268px;
  margin-top: 32px;
}

.sup_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.card-sup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 712px;
  border-radius: 10px;
  background: #f4f7fa;
  box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
  height: 100%;
  padding: 30px 48px;
}

.sup_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sup_item h2 {
  color: var(--title-color);
  font-family: "Gotham Pro Medium";
  font-size: 1rem;
  font-weight: 400;
  line-height: 162.5%;
}

.circle_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 67px;
}

.start_circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  background: url(/img/start_circle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -60px;
}

.start_circle p {
  color: var(--title-color);
  text-align: center;
  font-family: "Gotham Pro Bold";
  font-size: 0.875rem;
  line-height: 145%;
  max-width: 94px;
  margin: 0;
}

.start_circle :last-child {
  color: var(--title-color);
  font-family: "Gotham Pro Medium";
  font-size: 0.75rem;
  line-height: 116.667%;
  max-width: 94px;
  text-align: center;
  margin: 0;
}

.about {
  padding: 187px 0 48px 0;
  margin: 0 189px 0 191px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(/img/about_bg.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.about_inf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 438px;
}

.ab_title {
  color: var(--title-color);
  font-family: "Gotham Pro Bold";
  font-size: 2rem;
  line-height: 137.5%;
  margin-top: 32px;
  margin-bottom: 0;
}

.ab_text {
  font-size: 0.875rem;
  line-height: 150%;
}

.about_cards {
  display: flex;
  flex-direction: column;
}

.ab-card_row {
  display: flex;
  margin-bottom: 17px;
  align-items: flex-end;
}

.ab-card_row:last-child {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.ab_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
  box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
}

.ab-card_title {
  color: #7247ff;
  font-family: "Gotham Pro Bold";
  margin: 0;
}

.ab-card_text {
  color: var(--light-text-color);
  font-family: "Gotham Pro Regular";
  font-size: 0.875rem;
  line-height: 150%;
  max-width: 150px;
}

.ab_card:nth-child(1) {
  padding: 32px;
}

.ab_card:nth-child(2) {
  padding: 24px;
  max-width: 179px;
  max-height: 135px;
}

.ab-card_row:first-child .ab_card:first-child {
  margin-right: 25px;
  max-width: 217px;
}

.ab-card_row:last-child .ab_card:first-child {
  margin-left: 23px;
  max-width: 192px;
}

.ab-card_row:first-child .ab_card:first-child .ab-card_title {
  font-size: 3rem;
  line-height: 91.667%;
}

.ab-card_row:first-child .ab_card:nth-child(1) .ab-card_title span {
  text-align: center;
  font-size: 1rem;
  line-height: 150%;
}

.ab-card_row:first-child .ab_card:nth-child(2) .ab-card_title {
  font-size: 2.25rem;
  line-height: 122.222%;
}

.ab-card_row:first-child .ab_card:nth-child(2) .ab-card_title span {
  text-align: center;
  font-size: 1rem;
  line-height: 150%;
}

.ab-card_row:last-child .ab_card:last-child .ab-card_title {
  font-size: 2.25rem;
  line-height: 122.222%;
}

.ab-card_row:last-child .ab_card:first-child .ab-card_title {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 275%;
  letter-spacing: 2.72px;
}

.ab-card_row:last-child .ab_card:last-child .ab-card_text,
.ab-card_row:first-child .ab_card:last-child .ab-card_text,
.ab-card_row:last-child .ab_card:first-child .ab-card_text {
  margin: 0;
}

.givesup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 189px 144px 189px;
}

.givesup_title {
  font-size: 1rem;
  line-height: 150%;
}

.givesup_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.givesup_card {
  max-width: 343px;
  border-radius: 10px;
  background: #fff;
  padding: 32px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.givesup_card:last-child {
  margin-left: 0;
}

.givesup_card img {
  max-width: 166px;
}

.givesup-card_inf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.givesup-card_inf h3 {
  color: var(--title-color);
  font-family: "Gotham Pro Bold";
  font-size: 1rem;
  line-height: 150%;
}

.givesup-card_inf p {
  font-size: 0.875rem;
  line-height: 150%;
  margin: 0;
}

.buf-serv {
  padding: 103px 143px 143px 80px;
  display: flex;
  flex-direction: column;
}

.buf-inf {
  background-image: url(/img/sirius_phone.png);
  background-repeat: no-repeat;
  background-position: 50px 14px;
}

.buf_title {
  font-size: 2rem;
  line-height: 137.5%;
  margin-bottom: 18px;
}

.sirius-inf {
  display: flex;
  justify-content: flex-end;
}

.sirius-inf div {
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}

.sirius-inf div:first-child {
  /* margin-left: 100px; */
}

.sirius-inf div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 19px 18px 19px;
  /* max-width: 106px; */
  height: 100%;
  /* width: 100%; */
  border-radius: 11.936px;
  background: linear-gradient(326deg, #f0ebff 11.53%, #fff 74.32%);
  box-shadow: 0px 13.52766px 39.78723px 0px rgba(187, 166, 255, 0.78);
}

.sirius-inf div:first-child h3 {
  color: var(--text-color);
  font-family: "Gotham Pro Medium";
  font-size: 0.75rem;
  line-height: 132.624%;
}

.buf_btn {
  width: 100%;
  font-family: "Gotham Pro Medium";
  font-weight: 400;
  padding: 15px 22px;
}

.sirius-inf div:nth-child(2) {
  /* max-width: 438px; */
  margin-top: 30px;
}

.sirius-inf div:last-child {
  max-width: 326px;
  margin-top: 77px;
}

.sirius-inf div:nth-child(2) h3 {
  color: #34449c;
  font-family: "Gotham Pro Bold";
  font-size: 1rem;
  line-height: 275%;
  letter-spacing: 2.72px;
  margin: 0;
}

.sirius-inf div:nth-child(2) div {
  margin-top: 8px;
  margin-right: 0;
  max-width: 438px;
}

.sirius-inf div:nth-child(2) div p {
  font-size: 0.875rem;
  line-height: 150%;
  margin-bottom: 0;
}

.li-point {
  display: inline-block;
  border-bottom: 13px solid #2840cd;
  border-left: 13px solid transparent;
  margin-right: 11px;
}

.sirius_list-item {
  display: flex;
  align-items: baseline;
}

.sirius_list-item p {
  font-size: 0.875rem;
  line-height: 150%;
  /* margin-bottom: 24px; */
}

.buf-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.buf-card {
  display: flex;
  flex-direction: column;
  max-width: 236px;
  padding: 36px 32px 32px 32px;
  margin-right: 19px;
  border-radius: 20px;
  background: linear-gradient(236deg, #fff 29.99%, #f4f9ff 79.17%);
  box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
}

.buf-card:last-child {
  margin-right: 0;
}

.buf-card_title {
  color: var(--light-text-color);
  font-family: "Gotham Pro Medium";
  font-size: 1rem;
  font-weight: 400;
  line-height: 125%;
}

.buf-card_text {
  font-size: 0.875rem;
  line-height: 150%;
}

.tarif {
  padding: 0 189px 144px 189px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarif_title {
  font-size: 2rem;
  line-height: 137.5%;
  margin: 0;
}

.tarif_subtitle {
  font-size: 0.875rem;
  line-height: 150%;
}

.tarif_btn {
  text-align: center;
  font-family: "Gotham Pro Medium";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  padding: 10px 28px;
}

.tarif-btn_pass {
  color: var(--btn-color);
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed transparent;
  padding: 0;
  margin: 0 64px;
  transition: border-bottom 0.3s ease-in-out;
}

.tarif-btn_pass:hover {
  border-bottom: 2px dashed var(--btn-color);
  cursor: pointer;
}

.tarif-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarif-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 513px;
  border-radius: 20px;
  background: #ffffff;
  padding: 48px;
  margin-top: 32px;
}

.tarif-card:nth-child(2n) {
  margin-right: 33px;
}

.tarif-card:first-child {
  max-width: 1062px;
  width: 100%;
  align-items: center;
  padding: 48px 187px 48px 219px;
}

.tarif-card_title {
  color: var(--btn-color);
  font-family: "Gotham Pro Bold";
  font-size: 1rem;
  line-height: 187.5%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 0;
}

.tarif-card_free {
  color: #c9c9c9;
  font-family: "Gotham Pro Medium";
  font-size: 2rem;
  line-height: 137.5%;
  margin: 0;
  margin-top: 8px;
}

.tarif-card_subtitle {
  color: #737373;
  font-family: "Gotham Pro Regular";
  font-size: 0.875rem;
  line-height: 214.286%;
  margin-top: 16px;
  margin-bottom: 0;
}

.tarif-card_price {
  color: var(--light-text-color);
  font-family: "Gotham Pro Bold";
  font-size: 1rem;
  line-height: 187.5%;
  margin: 0;
  margin-top: 16px;
}

.tarif-card_available {
  color: var(--light-text-color);
  font-family: "Gotham Pro Medium";
  font-size: 1rem;
  font-weight: 400;
  line-height: 187.5%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.tarif-card_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarif-card_list li {
  display: flex;
  align-items: baseline;
}

.tarif-card_list li p {
  color: var(--light-text-color);
  font-family: "Gotham Pro Regular";
  font-size: 1rem;
}

.tarif-card_list .li-point {
  border-bottom: 7px solid #2840cd;
  border-left: 7px solid transparent;
  margin-right: 8px;
}

.tarif-card:first-child .tarif-card_list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 24px;
}

.tarif-card_more {
  display: flex;
  /* align-items: center; */
  color: var(--btn-color);
  font-family: "Gotham Pro Medium";
  font-size: 1rem;
  font-weight: 400;
  line-height: 250%;
}

.arrow {
  cursor: pointer;
  position: relative;
  width: 14.8px;
  height: 16px;
  margin-left: 16px;
}
.arrow span {
  position: relative;
  top: 20px;
  width: 14.8px;
  height: 2px;
  background-color: var(--btn-color);
  left: 0;
  display: block;
}
.arrow span::after {
  content: "";
  position: absolute;
  width: 10.2px;
  height: 2px;
  top: -3px;
  right: -3px;
  background-color: var(--btn-color);
  transform: rotate(45deg);
}
.arrow span::before {
  content: "";
  position: absolute;
  width: 10.2px;
  height: 2px;
  top: 3px;
  right: -3px;
  background-color: var(--btn-color);
  transform: rotate(-45deg);
}

.tarif-card_btn {
  color: var(--white-text);
  text-align: center;
  font-family: "Gotham Pro Medium";
  font-size: 1rem;
  font-weight: 400;
  line-height: 112.5%;
  padding: 18px 40px;
  max-width: 221px;
  margin-top: 16px;
}

.partner {
  padding: 88px 0 205px 196px;
  background-color: var(--btn-color);
  background-image: url(/img/partner_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.partner_title {
  color: var(--white-text);
  font-family: "Gotham Pro Bold";
  font-size: 2rem;
  line-height: 137.5%;
}

.partner_text {
  color: #e9e9e9;
  /* font-family: "Gotham Pro Regular"; */
  font-family: "Gotham Pro Medium";
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  max-width: 321px;
}

.bio {
  margin: 144px 267px 144px 189px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/img/bio_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.bio-inf {
  display: flex;
  justify-content: flex-end;
}

.bio-inf div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 769px;
}

.bio-inf div p,
.bio-inf div ul {
  max-width: 469px;
}

.bio-inf div p,
.bio-inf div ul li {
  font-family: "Gotham Pro Regular";
  font-size: 0.875rem;
  line-height: 142.857%;
  margin: 0;
  /* padding-left: 0; */
}

.bio-inf_title {
  font-family: "Gotham Pro Bold";
  margin: 0;
}

.bio-inf div p:nth-child(3) {
  margin-top: 16px;
  margin-bottom: 32px;
  font-family: "Gotham Pro Medium";
}

.bio-inf_btn {
  font-family: "Gotham Pro Medium";
  font-weight: 400;
  line-height: 112.5%;
  margin-top: 32px;
  padding: 20px 39px;
}

.bio-comm {
  display: flex;
  padding-left: 187px;
  margin-top: 40px;
}
.bio-comm div {
  border-radius: 11.936px;
  background: linear-gradient(331deg, #f0ebff -4.05%, #fff 34.42%);
  box-shadow: 0px 13.52766px 39.78723px 0px rgba(187, 166, 255, 0.2);
  max-width: 360px;
  width: 100%;
  padding: 32px;
}
.bio-comm div p {
  color: var(--title-color);
  font-weight: 400;
  margin: 0;
}

.bio-comm div p:first-child {
  font-family: "Gotham Pro Medium";
  font-size: 2rem;
  line-height: 49.734%;
}

.bio-comm div p:last-child {
  font-family: "Gotham Pro Regular";
  font-size: 0.75rem;
  font-style: italic;
  line-height: 132.624%;
}

footer {
  display: flex;
  flex-direction: column;
  border-top: #dee6ef solid 1px;
}

.footer-row:first-child {
  padding: 32px 110px 32px 80px;
  display: flex;
  justify-content: space-between;
}

.footer-row:first-child div {
  display: flex;
}

.footer_text {
  margin-left: 48px;
}

.footer_icons {
  display: flex;
  justify-content: space-between;
}

.footer_icon {
  padding: 9px;
  max-width: 36px;
  max-height: 36px;
  border-radius: 10px;
  border: 1px solid #cfdae7;
  margin-left: 8px;
}

.footer_icon:hover {
  cursor: pointer;
}

.footer-row:last-child {
  padding: 16px 111px 16px 79px;
  background: #e8edf3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-row:last-child div p,
.footer-row:last-child div a {
  color: var(--grey-text-color);
  font-family: "Gotham Pro Regular";
  font-size: 0.75rem;
  line-height: 166.667%;
}

.footer-row:last-child div a {
  margin-left: 16px;
}

.footer-row:last-child div a:hover {
  cursor: pointer;
}
